@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  /* Color Definitions */
  --primary-color: #102c38;
  --secondary-color: #c49c48;
  --primary-color-darker: #091d21;
  --secondary-color-darker: #a37e3b;
  --primary-color-lighter: rgba(26, 59, 74, 0.6);
  --secondary-color-lighter: #E9CC8E;
  --white-color: #F8F8F8;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  height: 100vh;
  color: var(--white-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition */
}

a:hover {
  color: var(--secondary-color-lighter);
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  padding-bottom: 40px;

  h2 {
    font-size: 1rem; /* Responsive font size */
    font-weight: 500;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondary-color-lighter);

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: var(--secondary-color-lighter);
      margin: 4px 10px;
    }
  }

  p {
    margin: 0;
    font-size: 2.25rem; /* Responsive font size */
    font-weight: 700;
    color: var(--white-color);
  }
}

// For mobiles all text should be aligned center
@media (max-width: 768px) {
  * {
    text-align: left;
  }
}

// HERO

.hero {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  min-height: calc(100vh - 80px);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('$lib/assets/logo.svg') center center / contain no-repeat;
    z-index: -1;
  }
}

